<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="container">
      <div>
        <label for="email">Username:</label>
        <input type="text" id="email" name="email" [(ngModel)]="formData.email" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="formData.password" required>
      </div>
      <button type="submit">Login</button>
      <p class="register" [routerLink]="['/register']">Register here</p>
    </div>
</form>