<a [routerLink]="['/dashboard']">
  <img class="brand-logo" src="/assets/fantaf1.jpg" alt="logo" aria-hidden="true">
</a>
<div class="selettore">
  <p (click)="selectTab('drivers')" [class.selected]="selectedTab === 'drivers'">Drivers</p>
  <span class="indicator" [style.transform]="'translateX(' + indicatorPosition + ')'" [style.width]="indicatorWidth"></span>
  <p (click)="selectTab('general')" [class.selected]="selectedTab === 'general'">General</p>
</div>

<section class="results" *ngIf="!display">
  <app-drivers *ngFor="let statsPiloti of statsPilotiList" [statsPiloti]="statsPiloti">
  </app-drivers>
</section>
<div id="comp-render" *ngIf="display">
  <app-general></app-general>
</div>