.results {
  display: grid;
  column-gap: 14px;
  row-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  padding: var(--content-padding);
}

.brand-logo {
  width: 100vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.selettore {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  font-size: 18px;
  font-weight: 800;
  position: relative;
}

.selettore p {
  width: 77px;
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: transform 0.3s, width 0.3s;
}