* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  :root {
    --primary-color: #232e3f;
    --secondary-color: #1a1a1a;
    --text-color: #eeeCe3;
    --accent-color: #cf9421;/*#dad5c6*/
    --content-padding: 20px;
  }  