.container {
    display: flex;
    justify-content: space-evenly;
    height:150px;
    padding-top: var(--content-padding);
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.container div b{
    color: var(--accent-color);
}