form {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

form:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url(/assets/brumbrum.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.container{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #444444;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0066ff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0052cc;
}

.login{
    padding-top: 10px;
    text-align: right;
    text-decoration: underline;
}