<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="container">
    <div>
      <label for="email">Username:</label>
      <input
        placeholder="LoveGunter23"
        type="text"
        id="email"
        name="email"
        [(ngModel)]="formData.email"
        required
      />
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        placeholder="BringBackBinotto99"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="formData.password"
        required
      />
    </div>
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input
        placeholder="BringBackBinotto99"
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        [(ngModel)]="formData.confirmPassword"
        required
      />
    </div>
    <button>Register</button>
    <p class="login" [routerLink]="['/login']">Login here</p>
  </div>
</form>
