<img class="immagine" [src]="statsPiloti?.photo" alt="Exterior photo of {{statsPiloti?.name}}" />
<div class="content">
  <h2 class="nome">{{statsPiloti?.name}}</h2>
  <div class="flex-conteiner">
    <h2 class="titolo">Driver Powerups</h2>
    <div class="costo">
      <p class="listing-location">{{ statsPiloti?.money}} </p>
      <img src="\assets\moneta.png" class="moneta">
      <button class="scegli-pilota" (click)="scegliPilota(statsPiloti?.id, statsPiloti?.money)">Scegli pilota</button>
    </div>
  </div>
  <ul class="lista">
    <li class="powerup" *ngFor="let powerup of statsPiloti?.powerups">{{ powerup }}</li>
  </ul>
</div>