.listing {
  margin: var(--content-padding);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px var(--secondary-color);
  transition: transform 0.3s, box-shadow 0.3s;
}

.listing:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 25px var(--secondary-color);
}

.moneta {
  height: 22px;
}

.costo {
  display: flex;
  padding: 7px 0px;
  align-items: center;
  gap: 5px;
  justify-content: center
}