.listing {
  background: var(--secondary-color);
  border-radius: 30px;
  box-shadow: 0px 0px 15px var(--secondary-color);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.listing:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 25px var(--secondary-color);
}

.listing-heading {
  padding: 10px 20px 0 20px;
  white-space: nowrap;
  font-size: 18px;
  text-align: center;
}

.listing-photo {
  height: 185px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.listing-metri {
  padding: 0px 0px 20px 20px;
}

.listing a {
  padding-left: var(--content-padding);
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bolder;
  cursor: pointer;
}

.listing a::after {
  content: "\203A";
  margin-left: 5px;
}

.moneta {
  height: 22px;
}

.costo {
  display: flex;
  padding: 7px 0px;
  align-items: center;
  gap: 5px;
  justify-content: center
}